<footer>
    <div class="container footer">
      <div class="row justify-content-center">
        <div class="col">
          <p class="footer-heading display-4 text-center">Вы поставщик?</p>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md footer__text">
          <p>
            Для доступа к телефонам покупателей заполните форму или позвоните
            нам +7&nbsp;999&nbsp;888-77-66
          </p>
          <p>
            Текст с дополнительной информацией по условиям сотрудничества.
            Возможно стоит вынести его на отдельную страницу.
          </p>
          <p>
            Текст с дополнительной информацией по условиям сотрудничества.
            Возможно стоит вынести его на отдельную страницу.
          </p>
        </div>
        <div class="col-md footer__form">
          <form>
            <div class="form-group row">
              <label
                for="footer-form__organization"
                class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                >Организация</label
              >
              <div class="col-sm-9 col-md-8 col-lg-9">
                <input class="form-control" id="footer-form__organization" />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="footer-form__phone"
                class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                >Телефон</label
              >
              <div class="col-sm-9 col-md-8 col-lg-9">
                <input class="form-control" id="footer-form__phone" />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="footer-form__email"
                class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                >Email</label
              >
              <div class="col-sm-9 col-md-8 col-lg-9">
                <input
                  type="email"
                  class="form-control"
                  id="footer-form__email"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="footer-form__name"
                class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                >Имя</label
              >
              <div class="col-sm-9 col-md-8 col-lg-9">
                <input class="form-control" id="footer-form__name" />
              </div>
            </div>
            <div class="form-group row">
              <div
                class="col-sm-9 col-md-8 col-lg-3 offset-sm-3 offset-md-4 offset-lg-3"
              >
                <button type="submit" class="btn btn-outline-dark">
                  Отправить информацию
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>