<div class="row reviews-section">
  <div class="col-sm-8 col-lg-6 offset-sm-2 offset-lg-3 reviews">
    <div
      id="reviewsCarousel"
      class="carousel slide reviews__carousel"
      data-ride="carousel"
    >
      <div class="carousel-inner">

        {% for n in range(10) %}
          <div class="carousel-item {% if not n %}active{% endif %} review">
            <div class="media">
              <img
                class="mr-3"
                src="http://via.placeholder.com/64"
                alt="Generic placeholder image"
              />
              <div class="media-body">
                <h5 class="mt-0">Кирилл, {{ n + 20 }} лет, г. Барабинск 0</h5>
                Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все
                супер! Бла-бла, мне помогло, все супер! Бла-бла, мне
                помогло, все супер! Бла-бла, мне помогло, все супер!
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
      <a
        class="carousel-control-prev"
        href="#reviewsCarousel"
        role="button"
        data-slide="prev"
      >
          <span
            class="carousel-control-prev-icon prev-icon-black"
            aria-hidden="true"
          ></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#reviewsCarousel"
        role="button"
        data-slide="next"
      >
          <span
            class="carousel-control-next-icon next-icon-black"
            aria-hidden="true"
          ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-sm-2 col-lg-3 add-review align-self-center">
    <p class="text-center">
      <button
        class="btn btn-outline-dark btn-circle add-review__button"
      >
        Оставить отзыв
      </button>
    </p>
  </div>
</div>
